<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="iching.android"
      android:versionCode="10"
      android:versionName="1.0">

	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/Android">
        <activity android:name=".activities.IChing" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    	<activity android:name=".activities.About" android:label="@string/about_label" android:theme="@style/Android.dialog"/>
    	
    	<activity android:name=".activities.IChingView" android:label="@string/gua_label"/>
    	
    	<activity android:name=".activities.Gua" android:theme="@style/Android.dialog" android:label="@string/gua_label"/>
    	
    	<activity android:name=".activities.CastIChing" android:label="@string/destin" android:screenOrientation="portrait"/>
    	
		<activity android:name=".activities.Preferences" android:label="@string/settings_label"/>
    	
		<activity android:name=".activities.Divinations" android:label="@string/load_divinations"/>

		<activity android:name=".activities.Divination" android:label="@string/load_divinations" android:screenOrientation="portrait"/>
		
		<activity android:name=".activities.Randomizer" android:label="@string/randomizer" android:screenOrientation="portrait"/>
		
		<activity android:name=".activities.IChingOpenGL" android:label="@string/iching_opengl" android:screenOrientation="portrait"/>
		
		<service android:name=".service.MusicService" android:enabled="true"/>
		
		<provider android:name=".contentprovider.DivinationProvider" android:authorities="iching.android.contentprovider.Divinations"/>
	</application>
    
    <uses-sdk android:minSdkVersion="7" />

</manifest> 